<% if @pay_account.errors.any? %>
<h2>The following errors prevented the account from getting created:</h2>
    <ul>
        <% @pay_account.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @pay_account do |f| %>
    <p>
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname %>
    </p>
    <p>
        <%= f.label :account_number %><br />
        <%= f.text_field :account_number %>
    </p>
    <p>
        <%= f.select :account_type, PayAccount.account_types.keys %>
    </p>
    <p>
    <%= f.submit %>
    </p>

<% end %>

<%= link_to "Back", pay_accounts_path %>