<!DOCTYPE html>
<html>
  <head>
    <title>RailsCodeTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
        <div class="left-nav">
          <ul>
            <li><%= link_to "Home", pay_accounts_path, class: 'btn btn-white' %></li>
          </ul>
        </div>
        <div class="right-nav">
          <ul>
            <li><%= link_to "Add New Account", new_pay_account_path, class: 'btn btn-success' %></li>
          </ul>
        </div>
      </header>
      <div class="content">
        <%= yield %>
      </div>
  </body>
</html>
